@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 98%;
    --foreground: 240 6% 10%;
    --card: 0 0% 100%;
    --card-foreground: 240 6% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 6% 10%;
    --primary: 45 56% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 96%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 96%;
    --muted-foreground: 240 4% 46%;
    --accent: 45 56% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 6% 90%;
    --input: 240 6% 90%;
    --ring: 45 56% 51%;
    --chart-1: 45 56% 51%;
    --chart-2: 197 37% 24%;
    --chart-3: 238 52% 37%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 6% 10%;
    --sidebar-primary: 45 56% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 45 56% 92%;
    --sidebar-accent-foreground: 45 56% 31%;
    --sidebar-border: 240 6% 90%;
    --sidebar-ring: 45 56% 51%;
  }
  .dark {
    --background: 240 6% 10%;
    --foreground: 0 0% 98%;
    --card: 240 6% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 45 56% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 16%;
    --muted-foreground: 240 4% 56%;
    --accent: 45 56% 51%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 16%;
    --input: 240 5% 16%;
    --ring: 45 56% 51%;
    --chart-1: 45 56% 51%;
    --chart-2: 197 37% 24%;
    --chart-3: 238 52% 37%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 4% 14%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 45 56% 51%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 45 56% 21%;
    --sidebar-accent-foreground: 45 56% 91%;
    --sidebar-border: 240 4% 24%;
    --sidebar-ring: 45 56% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}